p {
  line-height: 20px
}

#course-content {
  color: white;
  width: 850px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#course-content h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #31A8DD;
  margin-top: 100px;
  margin-bottom: 30px;
}

.module {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 605px;
  height: 57px;
  border-radius: 57px;
  background-color: #252525;
  border: 1px solid #33A8DB;
  box-shadow: -2px 6px 4px 0px #00000066 inset;
  margin: 30px auto;
}

.module span {
  color: #33A8DB;
}

#transform-world {
  position: relative;
  margin: 100px 0;
  background-image: url(/assets/images/woman-code.png);
  height: 450px;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #33A8DB;
  border-bottom: 1px solid #33A8DB;
}

#transform-world p {
  line-height: 45px;
  position: absolute;
  left: 198px;
  top: 150px;
  font-weight: 900;
  font-size: 40px;
  width: 260px;
  text-shadow: 3px 2px #33A8DB;
  text-align: left;
}

#professional-challenger {
  width: 700px;
}

#professional-challenges h2 {
  margin: auto;
  width: 750px;
  color: #33A8DB;
  font-size: 32px;
  letter-spacing: 5px;
  font-weight: 700;
}

#professional-challenges img {
  display: flex;
  margin: 60px auto;
}

#professional-challenges p {
  margin: auto;
  font-size: 16px;
  width: 792px;
}